!*/*
*.yy.*
*.tab.*
*.tmp.*
*.o
*.dSYM
y.output
.DS_Store

node_modules

cat_grep
ctrl-c
regular
shell
fiz

test-shell/*-in
test-shell/*-out
test-shell/bgfile
test-shell/out
test-shell/err*
test-shell/file-list
test-shell/hello world
